# Auto detect text files and perform LF normalization
* text=auto

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Jinja2 templates
*.j2 text eol=lf

# Shell scripts
*.sh text eol=lf

# Python scripts
*.py text eol=lf

# Ensure these are always LF
Makefile text eol=lf
Dockerfile text eol=lf

# Binary files
*.gz binary
*.tar binary
*.zip binary
*.png binary
*.jpg binary
