###############################################################################
#                                                                             #
#   {{ configuration_motd_banner_text }}
#                                                                             #
#   Hostname  : {{ inventory_hostname }}
#   Managed by: Ansible (configuration role)
#   Last sync : {{ ansible_date_time.iso8601 }}
#                                                                             #
#   Unauthorized access is prohibited and will be prosecuted to the           #
#   fullest extent of the law.                                                #
#                                                                             #
###############################################################################
